.select_title {
    box-shadow: 0px 3px 19px rgba(47, 58, 99, 0.0608);
}

.select_outline {
    box-shadow: 0px 3px 19px rgba(47, 58, 99, 0.0608);
}

.title:hover {
    box-shadow: 0px 3px 19px rgba(47, 58, 99, 0.0608);
}

.outline_:hover {
    box-shadow: 0px 3px 19px rgba(47, 58, 99, 0.0608);
}

.progress_bar {
    background: linear-gradient(to bottom right, #82E2F4, #8A8AED);
}

.spinner_button:before {
    content: "";
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #8d65e9, #5391e4, #6bcd94);
}