.nav-tabs {
	.nav-link {
		color: var(--tblr-primary);
		background-color: white;

		&.active {
			color: white;
			background-color: var(--tblr-primary);
		}		
	}
}

.dz-progress {
	visibility: hidden !important;
}
